// ******** Stylesheet: Base Stylesheet ******** //
// Author: Habit

/* ==========================================================================
   Sticky Footer Styles
   ========================================================================== */
@include sticky-footer(50px, "#page", ".push", ".site-footer");


/* ==========================================================================
   General Styles
   ========================================================================== */
body {
	color: $color-black;
	
	p {
		color: $color-green;
	}
}

.test {
	@include css-radial-gradient(#dfdfdf, #b90000);
	
	height: 100px;
	width: 100px;
}


.wrapper {
	width: 800px;
	margin: 0 auto;
}

a {
	color: $color-link;
	text-decoration: none;
	
	&:hover {
		color: $color-link-hover;
	}
}

#{headings(1,4)} {
	font: {
		family: $font-officiana-book;
		weight: normal;
	}
	
}

.float-left {
	@include float-left;
}

/// You can also re-set the floats when you don't need them any more.
.float-left {
	@include reset-float;
}


// Use @extend
.pop-up {
	border: 1px solid $color-black;
	padding: 25px;
}

.pop-up.error {
	color: red;
}

.alert {
	@extend .pop-up;
	
	background-color: #ff9b9b;
}

// You can also use non-generated placeholder styles with @extend
.pop-up a%button {
	background-color: $color-green;
}

.confirm {
	@extend %button;
}

// You can make loops as well
@for $i from 1 through 4 {
	.width-#{$i}-columns {
		width: 25% * $i;
		
		// with conditional statements
		@if $i != 4 {
			@extend .columns;
		}
		
	}
}

.columns {
	margin-right: 25px;
}

/* ==========================================================================
   Header Styles
   ========================================================================== */
.site-header {
	background-color: $color-black;
	height: 75px;
} 

.banner {
	@include my-background-image($image_file: 'ColourPhoto.jpg', $size: cover, $repeat: no-repeat);
	
	height: 250px;
	width: 100%;
}

#inline-block {
	@include inline-block;
}
   
/* ==========================================================================
   Footer Styles
   ========================================================================== */
.site-footer {
	background-color: $color-black;
	color: $color-white;
}


.dl-menu ul {
	@include horizontal-list;
	
	li {
		margin-right: 20px;
	}
}