// ******** Stylesheet: Typography ******** //

// Author: Habit

// Include your site fonts here.
// Reusable font variables for easy font management.

// Fonts should be loaded in the header.
// Ex: 
// <!-- Fonts from fonts.com -->
// <script type="text/javascript" src="http://fast.fonts.net/jsapi/efc4539d-0317-4595-93cd-ddceafba71d4.js"></script>


// ==========================================================================
//  Base font fallbacks
// ==========================================================================
$sans-serif:           'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif:                'Georgia', Cambria, Times New Roman, Times, serif;


//	EXAMPLE FONTS (not actually loaded):
	
//	Fonts Used:
//	Alternate Gothic W01 No 2
//	font-family:'AlternateGothicW01-No2 691799', sans-serif;
	
//	ITC Officina® Sans W01
//	font-family:'OfficinaSansITCW01-Book 734509', sans-serif;
//	font-family:'OfficinaSansITCW01-Book 734512', sans-serif;


// ==========================================================================
//  Custom Fonts
// ==========================================================================
$font-gothic-book:     'AlternateGothicW01-No2 691799', $sans-serif;

$font-officiana-book:  'OfficinaSansITCW01-Book 734509', $sans-serif;
$font-officiana-bold:  'OfficinaSansITCW01-Book 734512', $sans-serif;


